---
import BubbleImage from "../BubbleImage.astro";
import { Image } from "astro:assets";
import cakePHPLogo from '../../assets/img/CakePHP.png?url';
import canalDenunciasPreview from '../../assets/img/canal_denuncias_preview.png';
---

<div class="item item-with-gradient cakephp place-content-center" onclick="cakephp.showModal()">
    <BubbleImage 
        image = {cakePHPLogo},
        title = "CakePHP"
    />
</div>

<dialog id="cakephp" class="modal" data-theme="light">
    <div class="modal-box max-w-none lg:w-1/2 w-1/1">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div class="flex flex-wrap justify-center items-center mb-2 pb-4">
            <div class="flex-auto w-80">
                <hr class="w-16 h-1 bg-info border-0 rounded mb-2">
                <h1 class="font-bold text-6xl text-black">CakePHP</h1>
                <h4 class="font-normal text-2xl italic">Baking digital delights!</h4>
            </div>
        </div>
        <div class="flex flex-wrap justify-center items-center text-black w-1/1">
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><Image src={canalDenunciasPreview} alt="Canal de denuncias preview" /></figure>
                <div class="card-body">
                    <h2 class="card-title">
                        Canal de denuncias
                    </h2>
                    <p>Plataforma para denunciar irregularidades o actos ilícitos dentro de la empresa. Proyecto realizado en Grupo Dabo.</p>
                    <div class="card-actions justify-end mb-2">
                        <div class="badge badge-outline">CakePHP 4</div> 
                        <div class="badge badge-outline">Bootstrap 5</div>
                        <div class="badge badge-outline">jQuery</div>
                    </div>
                    <div class="card-actions justify-end">
                        <a role="button" href="https://dabocanaldenuncia.com/daboconsulting" target="_blank" class="btn btn-info">
                            Echar un vistazo
                            <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#000000" stroke-width="1.848"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M5 12V6C5 5.44772 5.44772 5 6 5H18C18.5523 5 19 5.44772 19 6V18C19 18.5523 18.5523 19 18 19H12M8.11111 12H12M12 12V15.8889M12 12L5 19" stroke="#464455" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<style>
    .cakephp {
        cursor: pointer;
    }
    button:focus {
        outline: 0;
    }
    .card-logo p {
        font-size: 100px;
    }
    svg {
        opacity: 75%;
        transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
        -o-transition: .5s ease-out;
        
        &:hover {
            opacity: 100%;
        }
    }
    
    
</style>
