---
import { Image } from "astro:assets";
import careerLogo from '../../assets/img/career.png';
---

<div class="item item-with-gradient career place-content-center" onclick="career.showModal()">
    <Image src={careerLogo} alt="career logo" class="object-cover mx-auto w-28 mt-8" />
    <div class="bg-gradient-to-t from-white via-black to-black" />
</div>

<dialog id="career" class="modal" data-theme="light">
    <div class="modal-box max-w-none lg:w-1/2 w-1/1">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div class="flex flex-wrap justify-center items-center mb-2 pb-4">
            <div class="flex-auto w-80">
                <hr class="w-16 h-1 bg-info border-0 rounded mb-2">
                <h1 class="font-bold text-6xl text-black">Trayectoria</h1>
                <h4 class="font-normal text-2xl italic">Career Crunch: Now with 100% more code!</h4>
            </div>
        </div>
        <div class="flex flex-wrap justify-center items-center text-black">
            <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
                <li>
                    <div class="timeline-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-info"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                    </div>
                    <div class="timeline-start md:text-end mb-10">
                        <time class="font-mono italic">jul. 2018 - Actualidad</time>
                        <div class="text-lg font-black">Full Stack Developer</div>
                        <span>
                            <small><i>En Grupo Dabo</i></small><br>
                            Desarrollo de nuevos módulos para el ERP de la empresa. Desarrollo de nuevos productos.
                        </span>
                    </div>
                    <hr class="bg-info" />
                </li>
                <li>
                    <hr class="bg-info" />
                    <div class="timeline-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-info"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                    </div>
                    <div class="timeline-end mb-10">
                        <time class="font-mono italic">mar. 2018 - jul. 2018</time>
                        <div class="text-lg font-black">Community Manager</div>
                        <span>
                            <small><i>En MXZambrana</i></small><br>
                        </span>
                        RRSS, atención al cliente, lanzamiento de campañas publicitarias.
                    </div>
                    <hr class="bg-info" />
                </li>
                <li>
                    <hr class="bg-info" />
                    <div class="timeline-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-info"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                    </div>
                    <div class="timeline-start md:text-end mb-10">
                        <time class="font-mono italic">abr. 2016 - abr. 2017</time>
                        <div class="text-lg font-black">Frontend Developer</div>
                        <span>
                            <small><i>En Grupo Dabo</i></small><br>
                            Desarrollo e implementación de micro módulos JavaScript para la formación. Maquetación de cursos de formación.
                        </span>
                    </div>
                    <hr class="bg-info" />
                </li>
                <li>
                    <hr class="bg-info" />
                    <div class="timeline-middle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5 text-info"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" /></svg>
                    </div>
                    <div class="timeline-end mb-10">
                        <time class="font-mono italic">mar. 2015 - jun. 2015</time>
                        <div class="text-lg font-black">Web Developer</div>
                        <span>
                            <small><i>En Druso Maior</i></small><br>
                            (Prácticas) Adaptación de legacy webs a estándares actuales, desarrollo de módulos Magento/Wordpress.
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<style>
    .career {
        cursor: pointer;
    }
    button:focus {
        outline: 0;
    }
    .card-logo p {
        font-size: 100px;
    }
    svg {
        opacity: 75%;
        transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
        -o-transition: .5s ease-out;
        
        &:hover {
            opacity: 100%;
        }
    }
</style>
