---
import BubbleImage from "../BubbleImage.astro";
import Project from "../Project.astro";
import flutterLogo from '../../assets/img/Flutter.png?url';
import audioAppPreview from '../../assets/img/audio_app_preview.png?url';

---

<div class="item item-with-gradient flutter place-content-center" onclick="flutter.showModal()">
    <BubbleImage 
        image = {flutterLogo},
        title = "Flutter"
    />
</div>

<dialog id="flutter" class="modal" data-theme="light">
    <div class="modal-box max-w-none lg:w-1/2 w-1/1">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
        </form>
        <div class="flex flex-wrap justify-center items-center mb-2 pb-4">
            <div class="flex-auto w-80">
                <hr class="w-16 h-1 bg-info border-0 rounded mb-2">
                <h1 class="font-bold text-6xl text-black">Flutter</h1>
                <h4 class="font-normal text-2xl italic">Making Your Apps Flutter-tastic!</h4>
            </div>
        </div>
        <Project
            title = "Audio Demo App",
            description = "Demo de una app que simula un login, un menu de usuario, y una lista de reproducción de audios.",
            image = {audioAppPreview},
            features = {["Flutter", "Dart", "Firebase", "AudioPlayer", "Routes", "Packages"]},
            link = "https://nunez-adrian.github.io/flutter_audio_demo/"
        />
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>

<style>
    .flutter {
        cursor: pointer;
    }
    button:focus {
        outline: 0;
    }
    .card-logo p {
        font-size: 100px;
    }
    svg {
        opacity: 75%;
        transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
        -o-transition: .5s ease-out;
        
        &:hover {
            opacity: 100%;
        }
    }
    
    
</style>
