---
interface Props {
    items: Array<number>;
}

const { items } = Astro.props as Props;
---

{items.flatMap((item) => (
    Array.from({length: item}, () => <div class="item item-with-gradient regular"></div>)
))}

<style>
    .item {
        opacity: 0.3;
    }
</style>