---
import Layout from '../layouts/Layout.astro';
import Regular from '../components/cards/Regular.astro';
import Profile from '../components/cards/Profile.astro';
import Skills from '../components/cards/Skills.astro';
import Education from '../components/cards/Education.astro';
import Career from '../components/cards/Career.astro';
import Contact from '../components/cards/Contact.astro';
import CakePHP from '../components/cards/CakePHP.astro';
import Flutter from '../components/cards/Flutter.astro';
import Angular from '../components/cards/Angular.astro';
---

<script src="../scripts/bubbles.ts"></script>

<Layout title="Adrián Núñez | Portfolio">
	<main class="wrapper">
		<Regular items={[11]} />
		<Career />
		<Skills />
		<Regular items={[4]} />
		<Education />
		<Profile />
		<Contact />
		<Regular items={[3]} />
		<Angular />
		<Flutter />
		<CakePHP />
		<Regular items={[11]} />
	</main>
</Layout>